<div class="main-content">

    <h1>Home</h1>


    <div class="grid">
        <img src="./img/money.jpg" alt="image 2">
        <div class="grid-item">
            <h3>The Value of Money</h3>
            <p>The time value of money is a basic financial concept that holds that money in the present is worth more than the same sum of money to be received in the future. This is true because money that you have right now can be invested and earn a return, thus creating a larger amount of money in the future. (Also, with future money, there is the additional risk that the money may never actually be received, for one reason or another). The time value of money is sometimes referred to as the net present value (NPV) of money.</p>
            <p class="resource">Source <a href="https://corporatefinanceinstitute.com/resources/knowledge/valuation/time-value-of-money/">corporatefinanceinstitute.com</a></p>
        </div>
    </div>
    <div class="grid">
        <img src="./img/food.jpg" alt="image 2">
        <div class="grid-item">
            <h3>GMO food</h3>
            <p>Engineers design plants using genetically modified organisms (GMOs) to be tougher or more nutritious or to taste better. However, people have concerns over their safety, and there is much debate about the pros and cons of using GMOs.Scientists create GMO foods by introducing genetic material, or DNA, from a different organism through genetic engineering.Most of the currently available GMO foods are plants, such as fruit and vegetables.In the United States, the Food and Drug Administration (FDA)Trusted Source regulates all foods from genetically engineered plants. They must meet the same safety requirements as non-GMO foods.</p>
            <p class="resource">Source <a href="https://www.medicalnewstoday.com/articles/324576">www.medicalnewstoday.com</a></p>
        </div>
    </div>
    <div class="grid">
        <img src="./img/world.jpg" alt="image 2">
        <div class="grid-item">
            <h3>The View of World in 2100</h3>
            <p>As someone passionate about the future of work, I like to think about the future in different forms and shapes. I don’t make predictions, as they are often incorrect and, therefore, useless. Besides, making exact predictions isn’t the point. When thinking about the future, the point is to consider what can or might happen and try to steer reality in the desired direction through our actions. </p>
            <p class="resource">Source <a href="https://humanefutureofwork.com/what-will-the-world-be-like-in-2100/">humanefutureofwork.com</a></p>
        </div>
    </div>
</div>